
.choice-container {
    
    display:flex;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 75px;
    font-size: 1.4em;

    font-weight: bold;
    border: 0.1rem solid  rgba(65, 63, 63, 0.315);
    background-color:  rgba(65, 63, 63, 0.315);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0  rgb(16, 107, 192);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {

    padding: 1.0rem 1.0rem;
    color:  white;
}

.choice-text {
   
    padding: 1.0rem 1.00em;
    width: 100%;
    color:  white;
}


.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem 2rem;
}

.timer {
    position:fixed;
    font-size: 1.5rem;
    top: 30px;
    right: 30px;
  }

h1 {
    position: relative;
    text-shadow: 1px 1px;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    font-size: 2.5rem;
    color: rgba(65, 63, 63, 0.315);
    align-content: center;
    margin: 20%;
    margin-bottom: 4rem;
}

.container>* {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
   
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}


